.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
}

.footer-image {
    height: 180px; /* Adjust as needed */
}

.contact-details {
    align-self: flex-start; /* Stick contact info to the top */
}

.footer-text {
    text-align: center;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensure the header stays above other elements */
    background-color: white; /* Keep the background consistent */
}

h2 {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar .nav-link {
    font-size: 1.1rem; /* Adjust as needed */
    font-weight: 500; /* Slightly bolder for better readability */
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .video-container iframe {
    width: 50%; /* Takes up 70% of container width */
    height: auto; /* Allow height to adjust automatically based on the width */
    aspect-ratio: 16 / 9; /* Maintain aspect ratio of 16:9 */
    max-width: 100%; /* Ensure it doesn't exceed container width */
  }
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .video-container iframe {
      width: 90%; /* Video will take 90% of screen width on smaller screens */
      height: auto;
      aspect-ratio: 16 / 9; /* Maintain aspect ratio */
    }
  }
  
  /* Media query for very small screens (e.g., mobile devices in portrait mode) */
  @media (max-width: 480px) {
    .video-container iframe {
      width: 100%; /* Full width on very small screens */
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }
  
