.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
}

.footer-image {
    height: 180px; /* Adjust as needed */
}

.contact-details {
    align-self: flex-start; /* Stick contact info to the top */
}

.footer-text {
    text-align: center;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensure the header stays above other elements */
    background-color: white; /* Keep the background consistent */
}

h2 {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar .nav-link {
    font-size: 1.1rem; /* Adjust as needed */
    font-weight: 500; /* Slightly bolder for better readability */
  }
  
